			/*整个页面*/
			
			.div-father {
				width: 1366px;
				height: 618px;
				overflow: hidden;
				//outline: 1px solid black;
			}
			/*左边整个选项栏div*/
			
			.div-left {
				/*width: 420px;*/
				width:150px;
				height: 400px;
				float: left;
				position: relative;
				left: 100px;
				top:120px;
			}
			/*左边选项div*/
			
			.div-left-s {
				width: 138px;
				height: 38px;
				margin-top: 24px;
				/*margin-left: 50px;*/
				color: #666666;
				font-family: AdobeHeitiStd-Regular;
				//outline: 1px solid red;
				text-align: center;
				border: 1px solid #ffffff;
				border-radius: 10px;
			}
			
			.div-left-s:hover {
				cursor: pointer;
			}
			/*左边字体div*/
			
			.div-left-s-font {
				height: 20px;
				float: left;
				margin-top: 8px;
				margin-left: 37px;
				font-size: 16px;
			}
			/*div右边的多内容框*/
			
			.div-right {
				position: relative;
				top:130px;
				right: 30px;
				width: 946px;
				height: 400px;
				float: right;
				overflow: hidden;
			}
			
			.div-right-s {
				width: 946px;
				height: 400px;
				position: absolute;
			}
			/*字体样式*/
			
			.b33 {
				font-size: 16px;
				color: #333333;
				font-family: AdobeHeitiStd-Regular;
			}
			
			.b80 {
				font-size: 16px;
				color: #808080;
				font-family: AdobeHeitiStd-Regular;
			}
			
			.b65 {
				font-size: 16px;
				color: #65a2fd;
				font-family: AdobeHeitiStd-Regular;
			}
			
			.b12b00 {
				font-size: 12px;
				color: #65a2fd;
				font-family: AdobeHeitiStd-Regular;
			}
			
			.b12b65 {
				font-size: 12px;
				color: #000000;
				font-family: AdobeHeitiStd-Regular;
			}
			
			a {
				text-decoration: none;
			}
			
			.table1 {
				width: 946px;
				margin-top: 20px;
				border-collapse: collapse;
			}
			
			.span120 {
				margin-left: 120px;
			}
			
			.span18 {
				margin-left: 18px;
			}
			
			.span90 {
				margin-left: 90px;
			}
			/*各列单元格宽度*/
			
			.tr1 {
				height: 42px;
				border-bottom: 1px solid #F0F0F1;
			}
			
			#td1 {
				width: 150px;
			}
			
			#td2 {
				width: 180px;
			}
			
			#td3 {
				width: 220px;
			}
			
			.lastRow {
				/*最后一行的样式*/
				height: 30px;
				width: 534px;
				float: right;
				position: absolute;
				right: 50px;
				bottom: 0;
			}
			
			.div-add_dv1 {
				width: 946px;
				height: 50px;
				color: #65a2fd;
				left: 16%;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				position: absolute;
			}
			
			.add-text {
				width: 200px;
				height: 30px;
				border-radius: 10px;
				background-color: white;
				outline: none;
			}
			
			.add-submit {
				width: 60px;
				height: 30px;
				border-radius: 5px;
				background-color: #65a2fd;
				outline: none;
				color: white;
			}